/*The code below is for the top division in the center page.*/
#leftTopCenterPage{
    position:absolute;
    top:60px;
    left:210px;
    display:flex;
    align-items:center;
    width:300px;
}
#wideLeftTopCenterPage{
    position:absolute;
    top:60px;
    left:15px;
    display:flex;
    align-items:center;
    width:300px;
}
#hide{
    display:none;
}
.hide{
    display:none;
}
#centerPageMenuButton{
    height:30px;
    width:30px;
    filter:brightness(105%);
    position:relative;
}
#centerPageMenuButton:hover{
    cursor:pointer;
}
#centerPageTitle{
    color:#0769b4;
    font-size:20px;
    position:relative;
    bottom:2px;
}
#centerPageOptions{
    height:30px;
    width:30px;
    filter:brightness(105%);
    margin-left:5px;
}
#centerPageOptions:hover{
    filter:brightness(101%);
    cursor:pointer;
}
#centerPageOptionsMenu{
    position:absolute;
    left:210px;
    top:103px;
    z-index:3;
    height:100px;
    width:200px;
    display:flex;
    flex-direction:column;
    background-color:white;
    border-radius:3px;
    border-style:solid;
    border-color:grey;
    border-top-width:0.1px;
    border-bottom-width:0.7px;
    border-left-width:0.1px;
    border-right-width:0.7px;
}
#listOptionsDiv{
    height:50px;
    width:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom-color:grey;
    border-bottom-style:solid;
    border-bottom-width:1px;
}
#listOptionsText{
    font-weight:600;
    font-size:14.5px;
}
#printListDiv{
    display:flex;
    justify-content:flex-start;
    height:50px;
}
#darkPrintListDiv{
    display:flex;
    justify-content:flex-start;
    cursor:pointer;
    height:50px;
    background-color:rgb(238, 238, 238);
    border-bottom-width:0.7px;
    border-bottom-style:solid;
    border-bottom-color:grey;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
#printIcon{
    height:35px;
    width:35px;
    margin-top:9px;
    margin-left:5px;
}
#darkPrintIcon{
    height:35px;
    width:35px;
    margin-top:9px;
    margin-left:5px;
    filter:brightness(93%);
}
#printListText{
    margin-top:13px;
    margin-left:10px;
}
#date{
    font-size:13px;
    position:absolute;
    left:295px;
    top:86px;
    color:rgb(144, 143, 143);
}
#wideDate{
    font-size:13px;
    position:absolute;
    left:130px;
    top:86px;
    color:rgb(144, 143, 143);
}
#rightTopCenterPage{
    height:72px;
    width:300px;
    position:absolute;
    right:10px;
    top:60px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
.centerPageRightIcons{
    height:30px;
    width:30px;
}
.centerPageRightIconsDark{
    height:30px;
    width:30px;
    filter:brightness(95%);
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.centerPageRightIconsDark:hover{
    cursor:pointer;
}
.centerPageRightIcons:hover{
    cursor:pointer;
}
.centerPageRightWords{
    font-weight:400;
    color:#0769b4;
    padding-right:5px;
    margin-right:5px;
}
.centerPageRightWordsDark{
    font-weight:400;
    color:#0769b4;
    background-color:rgb(243, 243, 243);
    padding-top:4.5px;
    padding-bottom:4.5px;
    padding-right:5px;
    margin-right:5px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.centerPageRightWordsDark:hover{
    cursor:pointer;
}
.centerPageRightWords:hover{
    cursor:pointer;
}
/*The code below is for the create task section in the middle*/
.createTask{
    background-color:rgb(231, 231, 231);
    height:50px;
    position:absolute;
    top:120px;
    left:210px;
    display:flex;
    align-items:center;
    border-radius:4px;
    width:83vw;
}
.tallCreateTask{
    background-color:rgb(231, 231, 231);
    position:absolute;
    top:120px;
    left:210px;
    border-radius:4px;
    height:100px;
    width:83vw;
}
.wideCreateTask{
    background-color:rgb(231, 231, 231);
    height:50px;
    width:99.2vw;
    position:absolute;
    top:120px;
    left:5px;
    display:flex;
    align-items:center;
    border-radius:4px;
}
.tallWideCreateTask{
    background-color:rgb(231, 231, 231);
    position:absolute;
    top:120px;
    left:5px;
    display:flex;
    border-radius:4px;
    height:100px;
    width:99.2vw;
}
#createTaskPlus{
    height:13px;
    width:13px;
    filter:brightness(91%);
    margin-left:20px;
    margin-right:20px;
}
#createTaskCircle{
    height:15px;
    width:15px;
    border-radius:50px;
    border-color:black;
    border-style:solid;
    border-width:1px;
    margin-top:13px;
    margin-left:20px;
    margin-right:8px;
    filter:brightness(95%);
}
#createTaskCircle:hover{
    cursor:pointer;
}
.createTaskInput{
    height:30px;
    width:71.8vw;
    background-color:rgb(231, 231, 231);
    border-style:none;
    outline:none;
    margin-right:5px;
}
.focusedCreateTaskInput{
    height:30px;
    width:71vw;
    border-style:none;
    outline:none;
    margin-top:10px;
    margin-right:5px;
    background-color:white;
    border-bottom-color:#0769b4;
    border-bottom-style:solid;
    border-bottom-width:1px;
}
.wideCreateTaskInput{
    height:30px;
    width:94vw;
    background-color:rgb(231, 231, 231);
    border-style:none;
    outline:none;
    margin-right:5px;
}
.focusedWideCreateTaskInput{
    height:30px;
    width:95.5vw;
    border-style:none;
    outline:none;
    margin-top:10px;
    margin-right:5px;
    background-color:white;
    border-bottom-color:#0769b4;
    border-bottom-style:solid;
    border-bottom-width:1px;
}
::placeholder{
    color:#0769b4;
}
#createTaskIconsDiv{
    display:flex;
    justify-content:space-between;
    width:95px;
    position:absolute;
    top:55px;
    left:45px;
}
.createTaskIcons{
    filter:brightness(90%);
    height:25px;
    width:25px;
}
.createTaskIcons:hover{
    filter:brightness(70%);
    border-radius:3px;
    cursor:pointer;
}
#add{
    color:rgb(190, 190, 190);
    font-weight:500;
    position:absolute;
    top:35px;
    right:20px;
}
#add:hover{
    cursor:pointer;
}
/*The code below is for my tasks*/
.tasksParent{
    height:auto;
    width:83vw;
    position:absolute;
    top:170px;
    left:210px;
}
.tallTasksParent{
    height:auto;
    width:83vw;
    position:absolute;
    top:220px;
    left:210px;
}
.wideTasksParent{
    height:auto;
    width:99.2vw;
    position:absolute;
    top:170px;
    left:5px;
}
.tallWideTasksParent{
    height:auto;
    width:99.2vw;
    position:absolute;
    top:220px;
    left:5px;
}
.taskDiv{
    border-bottom-style:solid;
    border-bottom-color:rgb(227, 227, 227);
    border-bottom-width:1px;
    background-color:white;
    display:flex;
}
.taskDiv:hover{
    filter:brightness(88%);
    cursor:pointer;
}
#completeTaskCircle{
    height:15px;
    width:15px;
    border-radius:50px;
    border-color:black;
    border-style:solid;
    border-width:1px;
    margin-top:13px;
    margin-left:20px;
    margin-right:8px;
    filter:brightness(95%);
}
#completeTaskCircle:hover{
    cursor:pointer;
}
.taskText{
    display:block;
    position:relative;
    left:12px;
    bottom:7px;
}
.completedTaskText{
    display:block;
    position:relative;
    left:12px;
    bottom:7px;
    font-weight:200;
    text-decoration:line-through grey;
}
#importantStar{
    height:27px;
    width:27px;
    position:absolute;
    right:20px;
    margin-top:15px;
    margin-right:0px;
    filter:brightness(130%);
}
#importantStar:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#importantStarBlue{
    height:18px;
    width:18px;
    position:absolute;
    right:25px;
    margin-top:20px;
    margin-right:0px;
    filter:brightness(170%);
}
#importantStarBlue:hover{
    cursor:pointer;
}
/*The code below is for the completed tasks*/
.completedDiv{
    height:35px;
    width:83vw;
    display:flex;
    border-bottom-color:rgb(227,227,227);
    border-bottom-style:solid;
    border-bottom-width:1px;
    padding-top:10px;
}
.completedDiv:hover{
    cursor:pointer;
}
.wideCompletedDiv{
    height:35px;
    width:99.2vw;
    display:flex;
    border-bottom-color:rgb(227,227,227);
    border-bottom-style:solid;
    border-bottom-width:1px;
    padding-top:10px;
}
.wideCompletedDiv:hover{
    cursor:pointer;
}
#completedArrow{
    height:22px;
    width:22px;
    position:relative;
    left:16px;
}
#completedText{
    position:relative;
    bottom:18px;
    left:30px;
    font-weight:500;
    font-size:14px;
}
#completedNumber{
    position:relative;
    left:45px;
    bottom:18px;
}
@media(max-width:770px){
    .centerPageRightWords{
        display:none;
    }
    .focusedWideCreateTaskInput{
        height:30px;
        width:80vw;
        border-style:none;
        outline:none;
        margin-top:10px;
        margin-right:5px;
        background-color:white;
        border-bottom-color:#0769b4;
        border-bottom-style:solid;
        border-bottom-width:1px;
    }    
    .wideCreateTask{
        background-color:rgb(231, 231, 231);
        height:50px;
        width:97vw;
        position:absolute;
        top:120px;
        left:5px;
        display:flex;
        align-items:center;
        border-radius:4px;
    }
    .tallWideCreateTask{
        background-color:rgb(231, 231, 231);
        position:absolute;
        top:120px;
        left:5px;
        border-radius:4px;
        height:100px;
        width:97vw;
    }
}