#aboutDiv {
  background-color: rgb(232, 231, 231);
  height: 35vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#aboutParagraph {
  margin-top: 5vh;
}
#aboutLinksDiv {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
