#background2{
    background-color:rgb(232, 231, 231);
    height:75vh;
    width:100vw;
    display:flex;
    justify-content:center;
    max-height:640px;
    flex-direction:column;
}
#skillsTitleDiv{
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}
.skillsDivs{
    display:flex;
    justify-content:center;
}
.skills{
    display:flex;
    height:8vh;
    width:8vh;
}