#background2 {
	background-image: url("./images/skillsBackground.jpg");
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	max-height: 740px;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: 100%100%;
}
#skillsTitleDiv {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
#skillsTitle {
	color: white;
	font-size: x-large;
}
.skillsDivs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}
#htmlLogo {
	border-bottom-right-radius: 60px;
}
#figmaLogo {
	filter: brightness(130%);
}
.skills {
	display: flex;
	height: 12vh;
	width: 12vh;
	border-radius: 18px;
}
