#listsMenuDayDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:5px;
    left:0px;
}
#listsMenuDayDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuDayDivDark{
    width:200px;
    height:30px;
    position:absolute;
    top:5px;
    left:0px;
    background-color:rgb(224, 224, 224);
}
#listsMenuDayDivDark:hover{
    cursor:pointer;
}
#listsMenuDayImage{
    height:28px;
    width:28px;
    filter:brightness(90.5%);
    position:absolute;
    left:15px;
}
#listsMenuDayImageDark{
    height:28px;
    width:28px;
    filter:brightness(88%);
    position:absolute;
    left:15px;
}
#listsMenuDayText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuDayTextBlue{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-20px;
    color:#0769b4;
}
#listsMenuAssignedDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:35px;
    left:0px;
}
#listsMenuAssignedDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuAssignedDivDark{
    width:200px;
    height:30px;
    position:absolute;
    top:35px;
    left:0px;
    background-color:rgb(224, 224, 224);
}
#listsMenuAssignedDivDark:hover{
    cursor:pointer;
}
#listsMenuAssignedImage{
    height:28px;
    width:28px;
    filter:brightness(90.5%);
    position:absolute;
    left:15px;
}
#listsMenuAssignedImageDark{
    height:28px;
    width:28px;
    filter:brightness(88%);
    position:absolute;
    left:15px;
}
#listsMenuAssignedText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuAssignedTextBlue{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-20px;
    color:#0769b4;
}
#listsMenuFlaggedDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:65px;
    left:0px;
}
#listsMenuFlaggedDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuFlaggedDivDark{
    background-color:rgb(224, 224, 224);
    width:200px;
    height:30px;
    position:absolute;
    top:65px;
    left:0px;
}
#listsMenuFlaggedDivDark:hover{
    cursor:pointer;
}
#listsMenuFlaggedImage{
    height:28px;
    width:28px;
    filter:brightness(96%);
    position:absolute;
    left:15px;
}
#listsMenuFlaggedImageDark{
    height:28px;
    width:28px;
    filter:brightness(92%);
    position:absolute;
    left:15px;
}
#listsMenuFlaggedText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuFlaggedTextBlue{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-20px;
    color:#0769b4;
}
#listsMenuTasksDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:95px;
    left:0px;
}
#listsMenuTasksDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuTasksDivDark{
    background-color:rgb(224, 224, 224);
    width:200px;
    height:30px;
    position:absolute;
    top:95px;
    left:0px;
}
#listsMenuTasksDivDark:hover{
    cursor:pointer;
}
#listsMenuTasksImage{
    height:28px;
    width:28px;
    filter:brightness(90%);
    position:absolute;
    left:15px;
}
#listsMenuTasksImageDark{
    height:28px;
    width:28px;
    filter:brightness(88%);
    position:absolute;
    left:15px;
}
#listsMenuTasksText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-17px;
}
#listsMenuTasksTextBlue{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-17px;
    color:#0769b4;
}
