#listsMenu{
    background-color:rgb(231, 231, 231);
    border-right-color:rgb(182, 182, 182);
    border-right-style:solid;
    border-right-width:2px;
    height:100vh;
    width:200px;
    position:absolute;
    left:0px;
    z-index:2;
}
#hideListsMenu{
    display:none;
}
#listsMenuButtonDiv{
    height:70px;
    width:200px;
    position:fixed;
    top:50px;
    left:0px;
    background-color:rgb(231,231,231);
    z-index:1;
}
#listsMenuButton{ /*This is where the menu button is*/
    height:30px;
    width:30px;
    position:fixed;
    top:80px;
    left:15px;
    filter:brightness(94%);
}
#listsMenuButton:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#listsScrollDiv{
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgb(231, 231, 231);
    height:60vh;
    width:200px;
    max-height:80vh;
    position:absolute;
    top:120px;
}
#listsMenuMyListsBigDiv{
    display:flex;
    position:absolute;
    top:125px;
    height:auto;
    width:200px;
    flex-direction:column;
    justify-content:space-evenly;
}
#listsMenuNewListDiv{
    width:200px;
    height:30px;
    display:flex;
    align-items:center;
}
#listsMenuNewListDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuNewListImage{
    height:15px;
    width:15px;
    filter:brightness(91%);
    margin-left:20px;
}
#listsMenuNewInput{
    width:144.5px;
    background-color:rgb(231,231,231);
    border-style:none;
    outline:none;
    margin-left:12px;
}
#lowMenuIconsDiv{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:200px;
}
#lowMenuMail{
    filter:brightness(90%);
}
#lowMenuMail:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#lowMenuCalandar{
    filter:brightness(96%);
    height:25px;
    width:25px;
}
#lowMenuCalandar:hover{
    filter:brightness(110%);
    cursor:pointer;
}
#lowMenuPeople{
    filter:brightness(93%);
}
#lowMenuPeople:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#lowMenuFiles{
    filter:brightness(90%);
}
#lowMenuFiles:hover{
    filter:brightness(100%);
    cursor:pointer;
}
.lowMenuIcons{
    height:30px;
    width:30px;
}
#apiChoices{
    position:fixed;
    bottom:-11px;
}
.apiButtons{
    height:40px;
    width:40px;
}
.apiButtons:hover{
    cursor:pointer;
}
#myAppButton{
    height:41px;
    width:120px;
}
#myAppButton:hover{
    cursor:pointer;
}
