#listsMenu{
    background-color:rgb(231, 231, 231);
    border-right-color:rgb(182, 182, 182);
    border-right-style:solid;
    border-right-width:2px;
    height:100vh;
    width:200px;
    position:absolute;
    left:0px;
    z-index:2;
}
#hideListsMenu{
    display:none;
}
#listsMenuButtonDiv{
    height:70px;
    width:200px;
    position:fixed;
    top:50px;
    left:0px;
    background-color:rgb(231,231,231);
    z-index:1;
}
#listsMenuButton{
    height:30px;
    width:30px;
    position:fixed;
    top:80px;
    left:15px;
    filter:brightness(94%);
}
#listsMenuButton:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#listsScrollDiv{
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgb(231, 231, 231);
    height:60vh;
    width:200px;
    max-height:80vh;
    position:absolute;
    top:120px;
}
/*I'm going to reference this when I make my styling for the dark div*/
/* #listsMenuTasksDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:95px;
    left:0px;
    background-color:rgb(224, 224, 224);
}
#listsMenuTasksDiv:hover{
    cursor:pointer;
}
#listsMenuTasksImage{
    height:28px;
    width:28px;
    filter:brightness(90%);
    position:absolute;
    left:15px;
}
#listsMenuTasksText{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-17px;
    color:#0769b4;
} */
#listsMenuDayDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:5px;
    left:0px;
}
#listsMenuDayDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuDayImage{
    height:28px;
    width:28px;
    filter:brightness(90.5%);
    position:absolute;
    left:15px;
}
#listsMenuDayText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuAssignedDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:35px;
    left:0px;
}
#listsMenuAssignedDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuAssignedImage{
    height:28px;
    width:28px;
    filter:brightness(90.5%);
    position:absolute;
    left:15px;
}
#listsMenuAssignedText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuFlaggedDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:65px;
    left:0px;
}
#listsMenuFlaggedDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuFlaggedImage{
    height:28px;
    width:28px;
    filter:brightness(96%);
    position:absolute;
    left:15px;
}
#listsMenuFlaggedText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuTasksDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:95px;
    left:0px;
    background-color:rgb(224, 224, 224);
}
#listsMenuTasksDiv:hover{
    cursor:pointer;
}
#listsMenuTasksImage{
    height:28px;
    width:28px;
    filter:brightness(90%);
    position:absolute;
    left:15px;
}
#listsMenuTasksText{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-17px;
    color:#0769b4;
}
#listsMenuMyListsBigDiv{
    display:flex;
    position:absolute;
    top:125px;
    height:auto;
    width:200px;
    flex-direction:column;
    justify-content:space-evenly;
}
