#listsMenu{
    background-color:rgb(231, 231, 231);
    border-right-color:rgb(182, 182, 182);
    border-right-style:solid;
    border-right-width:2px;
    height:100vh;
    width:200px;
    position:absolute;
    left:0px;
    z-index:2;
}
#hideListsMenu{
    display:none;
}
#listsMenuButtonDiv{
    height:70px;
    width:200px;
    position:fixed;
    top:50px;
    left:0px;
    background-color:rgb(231,231,231);
    z-index:1;
}
#listsMenuButton{ /*This is where the menu button is*/
    height:30px;
    width:30px;
    position:fixed;
    top:80px;
    left:15px;
    filter:brightness(94%);
}
#listsMenuButton:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#listsScrollDiv{
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgb(231, 231, 231);
    height:60vh;
    width:200px;
    max-height:80vh;
    position:absolute;
    top:120px;
}
/*I'm going to reference this when I make my styling for the dark div*/
/* #listsMenuTasksDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:95px;
    left:0px;
    background-color:rgb(224, 224, 224);
}
#listsMenuTasksDiv:hover{
    cursor:pointer;
}
#listsMenuTasksImage{
    height:28px;
    width:28px;
    filter:brightness(90%);
    position:absolute;
    left:15px;
}
#listsMenuTasksText{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-17px;
    color:#0769b4;
} */
#listsMenuDayDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:5px;
    left:0px;
}
#listsMenuDayDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuDayDivDark{
    width:200px;
    height:30px;
    position:absolute;
    top:5px;
    left:0px;
    background-color:rgb(224, 224, 224);
}
#listsMenuDayDivDark:hover{
    cursor:pointer;
}
#listsMenuDayImage{
    height:28px;
    width:28px;
    filter:brightness(90.5%);
    position:absolute;
    left:15px;
}
#listsMenuDayText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuAssignedDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:35px;
    left:0px;
}
#listsMenuAssignedDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuAssignedDivDark{
    width:200px;
    height:30px;
    position:absolute;
    top:35px;
    left:0px;
    background-color:rgb(224, 224, 224);
}
#listsMenuAssignedDivDark:hover{
    cursor:pointer;
}
#listsMenuAssignedImage{
    height:28px;
    width:28px;
    filter:brightness(90.5%);
    position:absolute;
    left:15px;
}
#listsMenuAssignedText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuFlaggedDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:65px;
    left:0px;
}
#listsMenuFlaggedDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuFlaggedDivDark{
    background-color:rgb(224, 224, 224);
    width:200px;
    height:30px;
    position:absolute;
    top:65px;
    left:0px;
}
#listsMenuFlaggedDivDark:hover{
    cursor:pointer;
}
#listsMenuFlaggedImage{
    height:28px;
    width:28px;
    filter:brightness(96%);
    position:absolute;
    left:15px;
}
#listsMenuFlaggedText{
    font-weight:400;
    position:absolute;
    left:50px;
    top:-20px;
}
#listsMenuTasksDiv{
    width:200px;
    height:30px;
    position:absolute;
    top:95px;
    left:0px;
}
#listsMenuTasksDiv:hover{
    cursor:pointer;
}
#listsMenuTasksDivDark{
    background-color:rgb(224, 224, 224);
    width:200px;
    height:30px;
    position:absolute;
    top:95px;
    left:0px;
}
#listsMenuTasksDivDark:hover{
    cursor:pointer;
}
#listsMenuTasksImage{
    height:28px;
    width:28px;
    filter:brightness(90%);
    position:absolute;
    left:15px;
}
#listsMenuTasksText{
    font-weight:600;
    position:absolute;
    left:50px;
    top:-17px;
    color:#0769b4;
}
#listsMenuMyListsBigDiv{
    display:flex;
    position:absolute;
    top:125px;
    height:auto;
    width:200px;
    flex-direction:column;
    justify-content:space-evenly;
}
.myListsDiv{
    display:flex;
    align-items:center;
    padding-left:17px;
    height:28px;
}
.myListsDiv:hover{
    cursor:pointer;
    background-color:white;
    filter:brightness(120%);
}
.myListsDivDark{
    background-color:rgb(224, 224, 224);
    display:flex;
    align-items:center;
    padding-left:17px;
    height:28px;
}
.myListsDivDark:hover{
    cursor:pointer;
}
.myListsImages{
    height:20px;
    width:20px;
    display:inline-block;
    filter:brightness(90%);
    position:relative;
    top:2.5px;
}
.myListsText{
    margin-top:0px;
    margin-bottom:0px;
    font-weight:400;
    position:relative;
    left:14px;
}
#listsMenuNewListDiv{
    width:200px;
    height:30px;
    display:flex;
    align-items:center;
}
#listsMenuNewListDiv:hover{
    background-color:white;
    filter:brightness(120%);
    cursor:pointer;
}
#listsMenuNewListImage{
    height:15px;
    width:15px;
    filter:brightness(91%);
    margin-left:20px;
}
#listsMenuNewInput{
    width:144.5px;
    background-color:rgb(231,231,231);
    border-style:none;
    outline:none;
    margin-left:12px;
}
#lowMenuIconsDiv{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:200px;
}
#lowMenuMail{
    filter:brightness(90%);
}
#lowMenuMail:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#lowMenuCalandar{
    filter:brightness(96%);
    height:25px;
    width:25px;
}
#lowMenuCalandar:hover{
    filter:brightness(110%);
    cursor:pointer;
}
#lowMenuPeople{
    filter:brightness(93%);
}
#lowMenuPeople:hover{
    filter:brightness(100%);
    cursor:pointer;
}
#lowMenuFiles{
    filter:brightness(90%);
}
#lowMenuFiles:hover{
    filter:brightness(100%);
    cursor:pointer;
}
.lowMenuIcons{
    height:30px;
    width:30px;
}
#apiChoices{
    position:fixed;
    bottom:-11px;
}
.apiButtons{
    height:40px;
    width:40px;
}
.apiButtons:hover{
    cursor:pointer;
}
#myAppButton{
    height:41px;
    width:120px;
}
#myAppButton:hover{
    cursor:pointer;
}
