#startBackgroundVid{
    height:100%;
    width:100%;
}
#interactDiv{
    background-color:black;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:16vh;
    width:100vw;
    position:absolute;
    top:60vh;
    opacity:0.8;
}
#welcome{
    font-weight:900;
    color:white;
    font-size:1000%;
}
#startButton{
    background-color:red;
    height:80px;
    width:150px;
}
#startButton:hover{
    border-bottom-color:black;
    border-right-color:black;
    border-bottom-width:2px;
    border-right-width:2px;
    border-bottom-style:solid;
    border-right-style:solid;
}
@media(max-width:770px){
    #interactDiv{
        height:16vh;
        width:100vw;
        position:absolute;
        top:60vh;
    }
    #welcome{
        font-size:300%;
    }
    #startBackgroundVid{
        height:200%;
        width:100%;
    }
}